<mat-toolbar class="max-w-7xl mx-auto border-x justify-between"> <!-- max-w - MAX ŠIRINA CONTAINER-A, mx-auto - CENTRIRANJE CONTAINERA, border-x - DODAVANJE BORDERA SA LEVE I DESNE STRANE, justify-between FUNKCIONIŠE ZATO ŠTO mat-toolbar IMA display-flex NAMEŠTEN PODRAZUMEVANO  -->
    <!-- OVA KOMPONENTA SE NALAZI NA VRHU NAŠE APLIKACIJE I TREBA DA SADRŽI HOME DUGME I KORPU -->

    <a routerLink="home">Knjižara</a> <!-- LINK ZA DUGME HOME STRANICE SA LEVE STRANE header-a -->
    <button mat-icon-button [matMenuTriggerFor]="menu"> <!-- mat-icon-button - DUGME KOJE JE JE SADRŽANO U IKONICI, matMenuTriggerFor - FUNKCIJA KADA DUGME BUDE PRITISNUTO(TRIGGER)(MORA BITI DODATO U SELEKTOR) -->
        <mat-icon
            [matBadge]="itemsQuantity"  
            [matBadgeHidden]="!itemsQuantity"
            matBadgeColor="warn"
        >shopping_cart</mat-icon> <!-- UVOZIMO CART ICON IZ ANGULAR MATERIAL-A, matBadge - PRIKAZUJE BROJ ARTIKALA U KORPI, matBadgeColor - DAJE BOJU BEDŽU -->
    </button>

    <mat-menu #menu="matMenu"> <!-- KORISTIMO SELEKTOR #menu ZA FUNKCIJU matMenuTriggerFor, matMenu - ANGULAR MATERIAL KOMPONENTA -->
        <div class="p-3 divide-y divide-solid"><!-- p-3 - DODAJE PADDING GORE,DOLE,LEVO,DESNO, divide-y HORIZONTALNI SEPARATOR(PRAVI RAZMAK IZMEĐU REDOVA), divide-solid - PODEBLJAVA LINIJU -->
            <div class="pb-3 flex justify-between"> <!-- pb-3 - PADDING BOTTOM 3, flex - IMPLEMENTIRAMO FLEX NA CONTAINER ZBOG JUSTIFY-BETWEENA(RASPOREĐIVANJA ELEMENATA PO IVICAMA) -->
                <span class="mr-16">{{itemsQuantity}} Artikli</span><!--PRIKAZ BROJA ARTIKALA U KORPI, mr-16 - MARGINA SA DESNE STRANE-->
                <a routerLink="cart">Pregledaj korpu</a><!-- DUGME UNUTAR KORPE KOJE KOJI VODI NA STRANICU KORPE-->
            </div>
            <div *ngIf="cart.items.length" class="py-3"> <!-- CONTAINER SVIH ARTIKALA UNUTAR KORPE py-3 - PADDING TOP AND BOTTOM -->
                <div 
                 *ngFor="let item of cart.items"
                 class="flex justify-between font-light mb-2"> <!-- ARTIKAL IMPLEMENTIRAMO FLEX NA CONTAINER ZBOG JUSTIFY-BETWEENA(RASPOREĐIVANJA ELEMENATA PO IVICAMA), font-light - TANKI FONT, mb-2 - MARGIN BOTTOM-->
                      {{item.name}} x {{item.quantity}}
                      <span class="font-bold ">{{ item.price | currency:'€'}}</span>
                </div>
            </div>
            <div class="flex justify-between py-3 font-light"> <!-- SUMA CENE ARTIKALA -->
                Ukupno:
                <span class="font-bold">{{ getTotal(cart.items) | currency:'€' }}</span>
            </div>
            <div class="pt-3 flex justify-between"><!-- DUGME ZA IZBACIVANJE SVIH ARTIKALA IZ KORPE, pt-3 - PADDING TOP -->
                <button 
                (click)="onClearCart()"
                class="bg-rose-600 text-white rounded-full w-9 h-9"> <!-- bg-rose-600 - FARBA DUGME U CRVENO, rounded-full - PRETVARA DUGME U KRUG, w,h-9 - WIDTH I HEIGHT DUGMETA -->
                    <mat-icon>remove_shopping_cart</mat-icon> <!-- ANG MATERIAL IKONA ZA IZBACIVANJE IZ KORPE-->
                </button>
                <button 
                    routerLink="cart"
                    class="bg-green-600 text-white rounded-full w-9 h-9"> <!-- bg-green-600 - FARBA DUGME U ZELENO, rounded-full - PRETVARA DUGME U KRUG, w,h-9 - WIDTH I HEIGHT DUGMETA -->
                    <mat-icon>shopping_cart</mat-icon> <!-- ANG MATERIAL IKONA ZA IZBACIVANJE IZ KORPE-->
                </button>
            </div>
        </div>
    </mat-menu>

</mat-toolbar>