<mat-card class="max-w-7xl mx-auto" *ngIf="cart.items.length">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full"> <!-- mat-elevation - DODAJE SENKU ISPOD TABELE-->
        <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef>Artikal</th>
            <td mat-cell *matCellDef="let element">
                <img src="{{element.product}}" alt="product" class="w-[100px] my-5"/>
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button mat-raised-button routerLink="/home">Nastavite kupovinu</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Ime</th>
            <td mat-cell *matCellDef="let element">
                <span class="truncate max-w-xs block">{{element.name}}</span> <!-- SPAN NIJE PODRAZUMEVANO BLOCK ELEMENT-->
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Cena</th>
            <td mat-cell *matCellDef="let element">
                {{element.price | currency:'€'}}
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Količina</th>
            <td mat-cell *matCellDef="let element">
                <button 
                 (click)="onRemoveQuantity(element)"
                 mat-icon-button>
                    <mat-icon>remove</mat-icon>
                </button>
                <span>{{ element.quantity }}</span>
                <button 
                 (click)="onAddQuantity(element)"
                 mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
            </td>
        </ng-container>
        <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Ukupno</th>
            <td mat-cell *matCellDef="let element">
                {{ (element.quantity * element.price) | currency:'€'}}
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <span class="font-bold py-5 block"> 
                {{ getTotal(cart.items) | currency:'€'}} 
               </span>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-raised-button color="warn" class="float-right"
                (click)="onClearCart()">
                    Izbaci sve
                </button>
            </th>
            <td mat-cell *matCellDef="let element">
               <button 
                (click)="onRemoveFromCart(element)"
                mat-mini-fab color="warn" class="float-right">
                <mat-icon>close</mat-icon>
            </button>
            </td>
            <td mat-footer-cell *matFooterCellDef>
              <button mat-raised-button color="primary" class="float-right">
                Kupi
              </button>
            </td>
        </ng-container>
        
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"> </tr>
    </table>
</mat-card>
<mat-card *ngIf="!cart.items.length">
    <p>
        Vaša korpa je prazna.
        <button mat-raised-button routerLink="/home">Započnite kupovinu</button>
    </p>
</mat-card>